<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BENSOF</title>
</head>
<body>
    <header>
        <nav class="menu-nav">
            <button type="button" class="menu-mobile">
                <span></span>
            </button>
            <form class="search-bar">
                <label for="search">
                    <input type="text" id="search" name="search">
                </label>
                <label for="search-btn">
                    <input type="button" role="button" id="search-btn" alt="lupa-icono">
                    <span class="lupa"></span>
                </label>
            </form>
            <button type="button" class="icon-btn"></button>
        </nav>
        <!-- slider de swiper -->
        <div class="slider"></div>
        <nav class="main-menu-nav">
            <div class="main-menu-btns">
                <button></button>
                <span>Moda</span>
            </div>
            <div class="main-menu-btns">
                <button></button>
                <span>Corporativos</span>
            </div>
            <div class="main-menu-btns">
                <button></button>
                <span>Nosotros</span>
            </div>
        </nav>
        <main>
            <!-- contact btn -->
            <div class="main-menu-btns">
                <button></button>
                <span>Contáctanos</span>
            </div>
            
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                      <img class="card-img-top" src="" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars -->
                            <span></span>
                            <!--share -->
                            <button></button>
                            <!-- add to favorites -->
                            <button></button>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                        <!-- TODO, definir si usar img o background img -->
                      <img class="card-img-top" src="" alt="">
                      <!-- <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars --
                            <span></span>
                            <!--share --
                            <button></button>
                            <!-- add to favorites --
                            <button></button>
                        </div> -->
                      </div>
                    </div>
                </div>
            </section>
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                      <img class="card-img-top" src="" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars -->
                            <span></span>
                            <!--share -->
                            <button></button>
                            <!-- add to favorites -->
                            <button></button>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                        <!-- TODO, definir si usar img o background img -->
                      <img class="card-img-top" src="" alt="">
                      <!-- <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars --
                            <span></span>
                            <!--share --
                            <button></button>
                            <!-- add to favorites --
                            <button></button>
                        </div> -->
                      </div>
                    </div>
                </div>
            </section>
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                      <img class="card-img-top" src="" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars -->
                            <span></span>
                            <!--share -->
                            <button></button>
                            <!-- add to favorites -->
                            <button></button>
                        </div>
                      </div>
                    </div>
                </div>
            </section>
            <section>
                <h3></h3>
                <div class="oferts-slider">
                    <div class="card text-left">
                        <!-- TODO, definir si usar img o background img -->
                      <img class="card-img-top" src="" alt="">
                      <!-- <div class="card-body">
                        <h4 class="card-title">Title</h4>
                        <p class="card-text">Body</p>
                        <div class="card-footer">
                            <!-- stars --
                            <span></span>
                            <!--share --
                            <button></button>
                            <!-- add to favorites --
                            <button></button>
                        </div> -->
                      </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="branchs"></div>
            <div class="additional-info"></div>
            <div class="social-ntws"></div>
            <div class="signature">
                <span>BENSOF SAS BIC</span>
                <span>Developed by </span>
            </div>
        </footer>
    </header>
</body>
</html>