.body{
    font-family: var(--akshar);
    font-size: 1rem;
}
header, footer{
    color: var(--main-white);
}
/* palette colors */
.m-white{
    background-color: var(--main-white);
}
.m-d-green{
    background-color: var(--main-dark-green);
}
.d-green{
    background-color: var(--dark-green);
}
.m-l-green{
    background-color: var(--main-light-green);
}
.m-black{
    background-color: var(--main-black);
}
.d-orange{
    background-color: var(--dark-orange-1);
}
.t-red{
    background-color: var(--third-red);
}
.gray{
    background-color: var(--gray);
}
.l-green{
    background-color: var(--lighter-green);
}
.fill-m-white{
    fill: var(--dark-orange-1);
}
.color-m-l-green{
    color: var(--main-dark-green);
}
.fill-m-d-green{
    fill: var(--main-dark-green);
}
.fill-d-green-2{
    fill: var(--dark-green-2);
}
.fill-d-orange{
    fill: var(--dark-orange-1);
}
.background-img{
    background-image: url(../moodboard/landing_page/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
@media (min-width:720px) {
    .fill-m-white:hover{
        fill: var(--main-white);

    }
}